body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

h2 {
  font-weight: lighter;
  font-size: 15px;
  color: white;
}

h1 {
  font-size: 25px;
}

label {
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid rgb(194, 194, 194);
  padding: 5px;
  font-size: 12px;
}

textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid rgb(194, 194, 194);
  resize: none;
}

button.submit {
  background-color: #562b81;
  color: white;
  border-radius: 3px;
  max-width: 60px;
  font-size: 12px;
  border: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  padding-left: 2%;
}

input:focus {
  outline: none;
  border: 1px solid #562b81;
}

textarea:focus {
  outline: none;
  border: 1px solid #562b81;
}

div.header {
  background-color: #562b81;
}

button.submit:hover {
  cursor: pointer;
}

textarea#notes {
  font-family: sans-serif;
}

h1.entries-header {
  margin: 0;
}

p.no-entries {
  text-align: center;
}

i {
  color: #562b81;
}

.entry-name {
  display: flex;
  justify-content: space-between;
}

i:hover {
  cursor: pointer;
}

div.delete-popup {
  position: fixed;
  background-color: white;
  border-radius: 10px;
  top: 40%;
  left: 40%;
  padding: 20px;
}

.button-holder {
  display: flex;
  justify-content: space-between;
}

.cancel-delete-button {
  background-color: hsl(0deg 0% 71%);
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.confirm-delete-button {
  background-color: hsl(0deg 72% 51%);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.delete-question {
  padding-bottom: 20px;
}

.cancel-delete-button:hover {
  cursor: pointer;
}

.confirm-delete-button:hover {
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
}

.popup-shadow {
  background-color: black;
  position: fixed;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
